{% extends "base.html" %}

{% block content %}
  <h1>
    Car list
    <a href="{% url 'taxi:car-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {# --- INÍCIO DA BUSCA --- #}
  <form method="get" action="">
      <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar por Modelo..." name="q" value="{{ request.GET.q }}">
          <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Buscar</button>
          </div>
      </div>
  </form>

  {% if request.GET.q %}
      <p>Resultados para: <strong>{{ request.GET.q }}</strong></p>
  {% endif %}
  {# --- FIM DA BUSCA --- #}

  {% if cars %} {# Verificação de contexto para 'cars' #}
    <ul>
      {% for car in cars %} {# Loop para 'cars' #}
        <li>
          <a href="{% url "taxi:car-detail" pk=car.id %} ">{{ car.id }}</a>
          {{ car.model }} ({{ car.manufacturer.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    {# --- MENSAGEM DE RESULTADO VAZIO --- #}
    {% if not request.GET.q %}
        <p>There are no cars in taxi</p>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Nenhum carro encontrado com o termo buscado.
        </div>
    {% endif %}
    {# --- FIM MENSAGEM DE RESULTADO VAZIO --- #}
  {% endif %}
{% endblock %}
